<table class="table table-responsive-sm table-hover table-outline mb-5">
    <thead class="thead-light">
        <tr>
            <th *ngFor="let column of columnList;">{{column}}</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let row of rowData;let j = index;">
            <tr>
                <td *ngFor="let col of row.keyList;let i = index;">
                    <i  *ngIf="row.deleteIndex === i" class="fa fa-trash" (click)="delete(row)"></i>
                    <span >{{row[col]}}</span>
                    <!-- <span class="float-right pr-2" *ngIf="row[i].expand" (click)="expandOption(j)">
                        <i class="icon-arrow-down"></i>
                    </span> -->
                </td>
            </tr>
            <!-- <tr>
                <td [attr.colspan]="columnList.length" class="table-secondary">
                    <div class="row" *ngFor="let adata of rowData.additionalData;">
                        <div class="col-md-5">{{adata.key}}</div>
                        <div class="col-md-7">{{adata.value}}</div>
                    </div>
                </td>
            </tr> -->
        </ng-container>
    </tbody>
</table>