<table class="table table-responsive-sm table-hover table-outline mb-5">
    <thead class="thead-light">
        <tr>
            <th *ngFor="let column of columnList;">{{column}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of rowData;let j = index;">
            <td *ngFor="let col of columnList;let i = index;">
                <i *ngIf="row[i].isIcon" class={{row[i].text}}></i>
                <span *ngIf="!row[i].isIcon">{{row[i].text}}</span>
                <span class="float-right pr-2" *ngIf="row[i].expand" (click)="expandOption(j)">
                    <i class="icon-arrow-down"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>