<table class="table table-responsive-sm table-hover table-outline mb-5">
    <thead class="thead-light">
        <tr>
            <th>FirstName</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of userList;">
            <td>
                <div>{{user.firstName}}</div>
            </td>
            <td>
                <div>{{user.lastName}}</div>
            </td>
            <td>
                <div>{{user.UserName}}</div>
            </td>
            <td class="text-center">
                <div><i class="fa fa-trash"></i></div>
            </td>
        </tr>
    </tbody>
</table>